
.no-hover-effect:hover {
    background-color: inherit; 
    color: inherit;
    box-shadow: none;
    border: 1px solid var(--primary-1-maruti-blue-500,#171C8F);
}
.text-transform-none {
    text-transform: none;
  }
